<script type="text/javascript" src="../js/xlsx.full.min.js"></script>
<button onclick="ExportToExcel_<?php echo $idTable ;?>('xlsx')" class="<?php echo $classXlsxExport; ?>" style="<?php 
	if ($applyStyleOnXlsxExportButton == 1) {
		echo $styleXlsxExportButton; 
	}
?>"><?php echo $xlsxExportButtonText; ?></button>
<script>

    function ExportToExcel_<?php echo $idTable ;?>(type, fn, dl) {
    	var today = new Date();
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = today.getFullYear();
		const d = new Date();
		let hour = d.getHours();
		let minute = d.getMinutes();
		today = dd + '/' + mm + '/' + yyyy + '/' + hour + '/' + minute;

        var elt = document.getElementById('<?php echo $idTable;?>');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('<?php echo $xlsxName;  ?> ' + today + '.' + (type || 'xlsx')));
    }

</script>
